<!doctype HTML>
<html>
<head>
	<title>Roguehell</title>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.6.2.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/game.js') }}"></script>
	<style type="text/css">
		#gamearea {
			position: relative;
			overflow: visible;
			width: 100%;
			height: 100%;
		}
		#gamearea .viewport {
			position: absolute;
			top: 0;
			left: 0;
		}
	</style>
</head>
<body>
<div id="gamearea">
	<canvas class="viewport"></canvas>
</div>
	<script type="text/javascript">
		initGame('gamearea');
	</script>
</body>
</html>